*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

root {
    --cor-primaria: white;
    --cor-secundaria: #F3C53B;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

body {
    background: ;
}

a, li {
    list-style: none;
    text-decoration: none;
}

.header {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.header ul {
    display: flex;
    gap: 4rem
}

.header a, li {
    color: var(--cor-primaria);
}