*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: white;
    --cor-secundaria: #F3C53B;
    font-size: 17px;
    font-family: 'Mouse Memoirs', sans-serif;
}

body {
    background: url(/assets/background.jpg) no-repeat;
    background-size: cover;

}

.wrapper {
    /* background: red;
    padding: 0 0 0 7rem; */
    padding: 0 7rem 0 7rem;
}

.header {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
}

.header ul {
    display: flex;
    gap: 3rem;
}

.header a {
    color: white;
    padding: .5rem 1rem;
}

.header .ingressos button {
    background: #F3C53B;
    color: var(--cor-primaria);
    border: none;
    padding: 1rem 3rem;
    font-size: 1.2rem;
}

.hero{
   /*  background: chocolate; */
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);
    
}

.hero .left{
    /* background: blue; */
    width: 30rem;
    height: 25.9rem;
    position: absolute;
    top: 20%;
    left: 15%;
}

.left h1{
    font-size: 5rem;
    color: var(--cor-primaria);
    border-bottom: 1px solid blue;
    width: 79%;
    line-height: 6rem;
}

.left p {
    color: var(--cor-secundaria);
    line-height: 1.5rem;
    margin: 2rem 0;
    font-size: 1.3rem;
    font-weight: 300;
}

#cadastro {
    background: #710903;
    border: none;
    padding: .5rem 2rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.2rem;
    color: var(--cor-primaria);

}

#login{

    background: #F3C53B;
    color: var(--cor-primaria);
    border: none;
    padding: .5rem 3rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.2rem;
    

}
.hero .right{
    width: 30rem;
    height: 25.9rem;
    position: absolute;
    top: 10%;
    right: 15%;

}

.right li img{
    position: absolute;
    width: 100%;
    /* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */

}

a {
    list-style: none;
    text-decoration: none;
}

.header li {
    list-style: none;
}

.header #logo {
    color: var(--cor-primaria);
    font-size: 3rem;
    letter-spacing: -.3rem;
    text-transform: uppercase;

}